<!DOCTYPE html>
<html>
  <head>
    <title> LBS Privacy </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h2>lbs</h2>

    <form id="form" class="myform" onSubmit="JavaScript:handleClick()">
      Search Nearby Places of a particular type
      <div class="box">
        <p>Latitude: <input type="number" name="lat" value="-33.8665433"></p>
        <p>Longitude: <input type="number" name="long" value="151.1956316"></p>
        <p>Query:
          <select name="type" id="lang">
            <option value="restaurants">Restaurants</option>
            <option value="gas stations">Gas Stations</option>
            <option value="hotels">Hotels</option>
            <option value="cafes">Cafes</option>
          </select>
        </p>
      </div>
      <button type="button" onClick="JavaScript:callNewMap(this.form)">Submit</button>
    </form>


    <script src="static/main.js"></script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDN6nIJQXOKOfFyrntkcNUVrxRh8Yur9A&callback=initMap&libraries=places&v=weekly"
    defer
    ></script>

    <div id="map"></div>



    <!-- javascript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="static/geolib.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>